backend/nodered-flow.json
[
  {
    "id": "energy-flow",
    "type": "tab",
    "label": "Miapp Energy",
    "disabled": false,
    "info": "Envía datos de energía a Miapp"
  },
  {
    "id": "foxess-in",
    "type": "http in",
    "z": "energy-flow",
    "url": "/foxess-data",
    "method": "get",
    "swaggerDoc": "",
    "name": "Recibir datos FoxES",
    "x": 100,
    "y": 100,
    "wires": [["convert-to-miapp"]]
  },
  {
    "id": "convert-to-miapp",
    "type": "function",
    "z": "energy-flow",
    "name": "Convertir formato",
    "func": "const data = msg.payload;\n\n// Extraer datos del mensaje de FoxES\nconst miappData = {\n    power: data.power || 0,\n    voltage: data.voltage || 220,\n    current: data.current || 0,\n    energyToday: data.todayYield || 0,\n    solarPower: data.pvPower || 0,\n    batterySoc: data.batterySoc || 0,\n    gridConsumption: data.gridConsumption || 0,\n    loadsPower: data.loadsPower || 0\n};\n\nmsg.payload = miappData;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 100,
    "wires": [["send-to-miapp"]]
  },
  {
    "id": "send-to-miapp",
    "type": "http request",
    "z": "energy-flow",
    "name": "Enviar a Miapp",
    "method": "POST",
    "ret": "obj",
    "paytoq": false,
    "url": "http://localhost:3000/api/nodered/data",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 500,
    "y": 100,
    "wires": [["debug-output"]]
  },
  {
    "id": "debug-output",
    "type": "debug",
    "z": "energy-flow",
    "name": "Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 700,
    "y": 100,
    "wires": []
  },
  {
    "id": "timer-poll",
    "type": "inject",
    "z": "energy-flow",
    "name": "Cada 30 segundos",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "x": 100,
    "y": 250,
    "wires": [["poll-foxess"]]
  },
  {
    "id": "poll-foxess",
    "type": "http request",
    "z": "energy-flow",
    "name": "Poll FoxES API",
    "method": "GET",
    "ret": "obj",
    "paytoq": false,
    "url": "https://www.foxesscloud.com/op/v0/device/real/query",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "bearer",
    "x": 300,
    "y": 250,
    "wires": [["parse-foxess"]]
  },
  {
    "id": "parse-foxess",
    "type": "function",
    "z": "energy-flow",
    "name": "Parsear datos FoxES",
    "func": "try {\n    const result = msg.payload.result || [];\n    if (result.length > 0) {\n        const data = result[0].data || {};\n        msg.payload = {\n            power: data.pvPower * 1000 || 0,\n            voltage: 220,\n            current: data.pvPower * 1000 / 220 || 0,\n            energyToday: data.todayYield || 0,\n            solarPower: data.pvPower * 1000 || 0,\n            batterySoc: data.batterySoc || 0,\n            gridConsumption: data.gridConsumption * 1000 || 0,\n            loadsPower: data.loadsPower * 1000 || 0\n        };\n    }\n} catch (e) {\n    msg.payload = {};\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 250,
    "wires": [["send-to-miapp-2"]]
  },
  {
    "id": "send-to-miapp-2",
    "type": "http request",
    "z": "energy-flow",
    "name": "Enviar a Miapp",
    "method": "POST",
    "ret": "obj",
    "paytoq": false,
    "url": "http://localhost:3000/api/nodered/data",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 700,
    "y": 250,
    "wires": []
  }
]